version: '3.7'

services:
  post-bot-db:
    container_name: post-bot-db
    image: postgres:14.1-alpine
    env_file: .env
    volumes:
      - pgdata:/var/lib/post-bot-db/data
    ports:
      - "5439:5432"

  php:
    build:
      dockerfile: ./docker/Dockerfile
      context: .
    image: trafex/php-nginx
    volumes:
      - .:/var/www
      - ./public:/var/www/html
      - ./docker/php/php.ini:/etc/php8/conf.d/settings.ini
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/supervisor/conf.d:/etc/supervisor/conf.d
    ports:
      - 80:8080

  redis:
    container_name: faq-redis
    restart: always
    image: redis:latest
    ports:
      - "6378:6379"

volumes:
  pgdata:

